@import "~bootstrap/scss/bootstrap";

body {
    font-family: 'Nunito', sans-serif;
    background-color: $cyan-200;
    min-height: 100vh;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}
.container {
    min-height: calc(100vh - 56px);
    background-color: $cyan-800;
    color: $white;
}

nav {
    height: 56px
}